* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.main-container{
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-auto-flow: dense;
}

.main-content{
  grid-column-start: 2;
  padding: 20px 40px;
}

.left-sidebar{
  grid-column-start: 1;
}

.right-sidebar{
  grid-column-start: 3;
}

.box-container{
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: "box1 box1 box3"
   "box2 box2 box3";
   padding: 20px 40px;
}

.box-1{
  background: coral;
  grid-area: box1;
}

.box-2{
  background: teal;
  grid-area: box2;
}

.box-3{
  background: yellowgreen;
  grid-area: box3;
}


.img-gallery{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-column-gap: 10px;
   grid-row-gap: 10px;
}


.img-gallery img{
   width: 100%;
}